
# gfx/interface/charframe_100_chineseimperial.dds
# gfx/interface/charframe_50_chineseimperial.dds
# gfx/interface/charframe_34_chineseimperial.dds
# gfx/interface/charframe_75_chineseimperial.dds
# gfx/interface/government_icon_bureaucratic.dds
# gfx/characters/shared/special_masks.dds
# localisation/00_aftermex_holdings.csv
# idk why these were here
.vscode/settings.json
